@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

h1 {
    font-size: 4em;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align:center;
    color: #1481BA;
}

h2 {
    font-size: 3em;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align:center;
    color: #0A369D;
}

/*h3 {*/
/*    font-size: 2em;*/
/*    font-family: 'Montserrat Alternates', sans-serif;*/
/*    text-align:center;*/
/*    color: #0A369D;*/
/*}*/

body {
    text-align:center;
    background-repeat: no-repeat;
}

select {
    font-size: 32px;
    font-family: 'Montserrat Alternates', sans-serif;
}

input {
    font-size: 32px;
    border-image: 0;
    border-radius: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
}

form {
    font-family: 'Montserrat Alternates', sans-serif;
}


div {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}