<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">

<html>
     <head>
        <title>TRIGENDA</title>
    </head>
    <body>
        <h1>Hello Traveler!</h1>
        <p>Where would you like to travel next?</p>
    </body>
<body>
    <form>
        <select name="place">
            
            <option value="New York City">New York City</option>
            <option value="Madrid">Madrid</option>
            <option value="Chicago">Chicago</option>
            <option value="Hong Kong">Hong Kong</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
    
  
</body>
</html>